.about-us .container{
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    grid-template-rows: repeat(2, auto);
    row-gap: 20px;
}

.about-us {
    padding: 0px;
    background: #fff;
    margin: 0 6% 4%;

}

.about-description {
    display: flex;
    justify-content: flex-end;
    text-align: justify;
    grid-column: 1 / 4;
    font-size: 1.2rem;
    line-height: 1.6;
    margin: 0 0 50px;
    color: #666;
    
}

.stat-item-1,
.stat-item-2,
.stat-item-3{
    display: flex;
    border: .12rem solid #333;
    padding: 5%;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.stat-item-2,
.stat-item-3{
    border-left: none;
}


.stat-text {
    font-size: .95rem;
    color: #666;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 300;
}

.stat-item-1 span,
.number{
    font-size: 1.3rem;
    font-weight: bold;
}

.stat-text {
    display: flex;
    align-items: center;
    gap: 20px; /* Расстояние между текстом и цифрой */
}

.text-lines {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}


/* Адаптивность */
@media (max-width: 768px) {
    .about-us{
        padding: 30px ;
    }

    .stat-text{
        font-size: .3rem;
    }

    .stat-item-2 .stat-text{
        gap:10px;
    }

    .stat-item-1 span,
    .number{
    font-size: .4rem;
    font-weight: bold;
    }

    .about-description {
        font-size: .6rem;
        margin-bottom: 0;
    }

    .about-us h1{
        margin-bottom: 7px;
    }

    .stat-item-1,
    .stat-item-2,
    .stat-item-3{
        border: .03rem solid #333;
        justify-content: left;
        text-align: left;
    }

    .stat-item-2,
    .stat-item-3{
        border-left: none;
    }

    
}