.architecture{
    margin: 0 6% 5%;
    max-width: 100%;
    padding-top: 6%;
}

.archit-title{
    margin: 0 0 3% 6.5%;
    font-size: 1.7rem;
    font-weight: 500;
    color: #333;
}

.carousel-container {
    position: relative;
    width: 90%;
    left: 50%;
    transform: translateX(-50%); 
    margin: 30px 0;
    padding-left: calc(20px + 5%);
    
}

.carousel {
    display: flex;
    justify-content: center;
    transition: transform 0.5s ease-in-out;
    gap: 20px;
    width: 90%;
    overflow: hidden;
    position: relative;
    padding-bottom: 20px;
    
}

/* Обновлённое размытие с более плавным началом */
/* .carousel::before,
.carousel::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 80px;
    z-index: 5;
    pointer-events: none;
}

.carousel::before{
    left: 0;
    background: linear-gradient(
        to right,
        rgba(255,255,255, 1) 0%,
        rgba(255,255,255,0.9) 15%,
        rgba(255,255,255,0.7) 40%,
        rgba(255,255,255,0.3) 70%,
        rgba(255,255,255,0.1) 85%,
        transparent 100%
    );
    
}

.carousel::after {
    right: 0;
    background: linear-gradient(
        to left,
        rgba(255,255,255, 1) 0%,
        rgba(255,255,255,0.9) 15%,
        rgba(255,255,255,0.7) 40%,
        rgba(255,255,255,0.3) 70%,
        rgba(255,255,255,0.1) 85%,
        transparent 100%
    );
    z-index: 10;
} */

.card {
    flex: 0 0 calc(29% - 15px);
    min-height: 80vh;
    min-height: 85vh;
    background: white;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    z-index: 1;
    
    /* Отключаем события мыши для всех карточек */
    pointer-events: none;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    z-index: 2;
}

.image-container {
    height: 33vh;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.card:hover .image-container img {
    transform: scale(1.05);
}

.description {
    padding: 15px;
}

.description h3 {
    margin-bottom: 10px;
    font-size: 1.7rem;
    font-weight: 500;
    color: #333;
}

.description p {
    color: #7f8c8d;
    font-size: 1.2rem;
    line-height: 1.2;
    text-align: justify;
    text-justify: inter-word;
    hyphens: auto;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.description p:last-child {
    position: absolute;
    bottom: 1vh;
}


.nav-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #ffffff00;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
    z-index: 10;
}

.nav-btn:hover {
    animation: animation-arrow 1s forwards infinite;
}

.prev {
    left: -5%;
    transform:  rotate(90deg);
}

.next {
    right: -5%;
    transform:  rotate(-90deg);
}

@media (max-width: 768px) {
    .description p {
        font-size: .6rem;
    }

    .description{
        padding: 5px;
    }

    .description h3,
    .archit-title {
        font-size: 1rem;
    }

    .architecture{
        padding-top: 15%;
    }

    .carousel::before,
    .carousel::after {
        width: 60px; 
    }

    .carousel-container {
    width: 95%;
    }

    .card{
        min-height: 75vh;
        max-height: 80vh;
    }

}
