/* II.css - только специфичные стили */
.II{
    margin: 0 6% 5%;
    max-width: 100%;
    padding-top: 4.5%;
}

.II-title{
    margin-bottom: 5%;
    font-size: 1.7rem;
    font-weight: bold;
    color: #333;
    text-align: center;
}

.II-description {
    text-align: justify;
    font-size: 1.1rem;
    color: #666;
    margin-bottom: 40px;
    line-height: 1.6;
}

@media (max-width: 768px) {
    .II{
        margin: 0 6% 5%;
        max-width: 100%;
        padding: 15% 30px 0;
    }
    
    .II-title {
        font-size: 1rem;
        margin-bottom: 20px;
    }
    
    .II-description {
        font-size: .8rem;
        margin-bottom: 30px;
        padding: 0 10px;
        line-height: 1.4;
    }
}