@import "footer.css";
@import "about-us.css";
@import "menu.css";
@import "architecture.css";
@import "policy.css";
@import "modal.css";

@font-face {
    font-family: "SFPro";
    src: url("assets/font/SFProText-Bold.ttf") format("truetype");
    font-weight: 700;
    font-display: swap; /* Improves performance */
}

@font-face {
    font-family: "SFPro";
    src: url("assets/font/SFProText-Light.ttf") format("truetype");
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: "SFPro";
    src: url("assets/font/SFProText-Regular.ttf") format("truetype");
    font-weight: 400;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'SFPro', sans-serif;
}
 a{
    text-decoration: none;
    color: white;
}

body {
    overflow-x: hidden;
}

/* .video-container {
    position: relative;
    min-height: 600px;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    z-index: 0;
} */

.home-container{
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background-image: url(assets/main-bg.jpg);
    background-size: cover; 
    background-position: center;
}

.top-line{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 8%;
    transition: background-color 0.3s ease;
    z-index: 3;
}

.top-line.active{
    background-color: rgba(0, 0, 0);
}


.logo{
    position: fixed;
    top: 1.1%;
    left: 1%;
    width: 180px;
    height: 47px;
    background: none;
    border: none;
    cursor: pointer;
    transform: scale(.9);

}

.logo img {
    width: 100%; 
    height: 100%; 
    object-fit: contain; 
}

.menu-pc{
    position: fixed;
    top: 2.9%;
    left: 50%; 
    transform: translateX(-50%); 
    width: auto;
    white-space: nowrap;
}

.menu-pc ul{
    display: inline;
    list-style: none;
    color: white;
    font-size: 1.2rem;
}

.menu-pc ul li{
    display: inline-block;
    margin-right: 3%;
}


.arrow{
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 48px;
    height: 102px;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: center;
    object-position: center;
    margin-left: -24px;
    animation: animation-arrow 1s forwards infinite;
}

.arrow-back {
    position: fixed;
    left: 2.3%;
    bottom: 0;
    width: 48px;
    height: 102px;
    object-fit: contain;
    object-position: center;
    margin-left: -24px;
    transform: scale(-.85);
    visibility: hidden; /* По умолчанию скрыта */

}

.arrow-back.active {
    visibility: visible;/* Показываем только когда активна */
}

.arrow-back:hover{
    animation: animation-arrow 1s forwards infinite;
}


@keyframes animation-arrow{
    66% {
    padding-top: 16px;
    }

    100%{
        padding-top: 0;
    }
}

@media (max-width: 768px) {
    .logo {
        scale: 0.7;
        top: .2%;
        left: .2%;
        margin-bottom: 20px;
    }

    h1 {
        font-size: 2rem;
        margin-bottom: 20px;
        max-width: 800px;
    }

    p {
        font-size: .7rem;
        margin-bottom: 30px;
        max-width: 600px;
        line-height: 1.6;
    }
    .arrow-back {
        scale: 0.7;
        left: 6%;
        width: 40px;
        height: 85px;
    }

    .arrow{
        width: 40px;
        height: 85px;
        bottom: 3%;
    }

    .menu-pc{
        visibility: hidden;
    }

    .top-line{
        height: 6%;
    }
}
