.policy{
    margin: 0 6%;
    max-width: 100%;
    padding-top: 4.5%;
}

.policy-title{
    margin-bottom: 5%;
    font-size: 1.7rem;
    font-weight: bold;
    color: #333;
    text-align: center;
}

.policy h2{
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 5%;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
}


.grid-container div{
    background-color: #dfdfdf58;
    color: #7f8c8d;
    font-size: 1.1rem;
    line-height: 1.2;
    font-weight: normal;
    padding: 10px;
}

.grid-container strong{
    color: #333;
}

.policy ol,
.policy ul {
    list-style-position: outside; 
    padding-left: 2ch; 
}

.policy li {
    text-indent: 0; 
    padding-left: 0; 
    margin-left: 0; 
}

.policy li::marker {
    color: #333;
}

@media (max-width: 768px) {
    .policy{
        margin: 0 6%;
        max-width: 100%;
        padding: 15% 30px 0 ;
    }
    .grid-container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr, 1fr, 1fr, 1fr;
        column-gap: 20px;
        row-gap: 20px;
    }
    .grid-container div{
        font-size: .6rem;
        padding: 6px;
    }

    .policy-title {
        font-size: 1rem;
        text-align: center;
        margin-bottom: 10%;
    }

    .policy h2{
        font-size: .8rem;
    }
}